.input_button_search_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  width: 80vw;
  height: 80%;
}

.input_search {
  padding: 5px 10px;
}

.button_search {
  padding: 3px 10px;
}
