




.container_home {
  background-color: #16161a;
  opacity: 1;
  background-image:  linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077);
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}


.container_navbar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
}







.container_card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px 220px;
  /* display: grid;
  grid-column: 1fr 1fr 1fr;
  gap: 1rem; */
  
}






.diets {
  position: absolute;
  display: flex; 
  flex-direction: row;
  justify-content: center;
  
}


.max_min_container {
  position: absolute;
  top: 60px;
  left: 55em;
}

.select {
  padding: 5px 10px;
  background-color: #3c2f2f;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
}


.crear_recetas {
  position: absolute;
  top: 0px;
  left: 170px;
  font-weight: 700;
  background-color: #3c2f2f;
  color: white;
  padding: 15px 120px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;

}

.crear_recetas:active {
  padding: 10px 120px;
  
}


.button_actualizar {
  background-color: #3c2f2f;
  color: white;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 20px;
  position: absolute;
  top: 60px;
  right: 250px;
  cursor: pointer;
}

.abecedario_container {
  position: relative;
  top: 10px;
  background-color: #3c2f2f;
  color: white;
  font-weight: 700;
  padding: 5px 50px;
  cursor: pointer;
}


.Dietas_tipos {
  position: relative;
  top: 7px;
  text-align: center;
  padding: 5px 30px;
  border-radius: 20px;
  background-color: #3c2f2f;
  color: white;
  font-weight: 700;
  cursor: pointer;

}


.options {
  font-weight: 700;
}