/* body {
  background-color: #000000;
opacity: 1;
background-image:  linear-gradient(30deg, #121217 12%, transparent 12.5%, transparent 87%, #121217 87.5%, #121217), linear-gradient(150deg, #121217 12%, transparent 12.5%, transparent 87%, #121217 87.5%, #121217), linear-gradient(30deg, #121217 12%, transparent 12.5%, transparent 87%, #121217 87.5%, #121217), linear-gradient(150deg, #121217 12%, transparent 12.5%, transparent 87%, #121217 87.5%, #121217), linear-gradient(60deg, #12121777 25%, transparent 25.5%, transparent 75%, #12121777 75%, #12121777), linear-gradient(60deg, #12121777 25%, transparent 25.5%, transparent 75%, #12121777 75%, #12121777);
background-size: 46px 81px;
background-position: 0 0, 0 0, 23px 40px, 23px 40px, 0 0, 23px 40px;

} */

body {
  background-image: url(https://fondosmil.com/fondo/75572.jpg);
}

container__landing {
  /* background-image: url(https://fondosmil.com/fondo/75572.jpg); */
  
  height: 100%;
  width : 100%;
}


.header {
  font-family: Georgia, serif;
font-size: 55px;
letter-spacing: 4.5px;
word-spacing: 6px;
color: #d28686;
font-weight: 400;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: small-caps;
text-transform: none;
}


.home {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
 }
 
 .home::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
 }
 
 .home:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
 }
 
 .home:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
         0 0 2.5em 2em var(--glow-spread-color),
         inset 0 0 .5em .25em var(--glow-color);

 }


.home {
  position: absolute;
  top: 0px;
}

.title {
  position: relative;
  right: 445px;
  top: 100px;
}

.name {
  position: relative;
  right: 600px;
  top: 300px;
}

.button {
  position: relative;
  top: 800;
  right: 550px;
}

