
/* body {
  background-image: url("./frutillas.jpg");
  
} */


.container_details {
  background-image: url("./frutillas.jpg");
  position: relative;
  width: 600px; 
  display: flex;
  top: 60px;
  left: 1100px;
}

.card_detail {
  border-radius: 20px;
  background-color: rgb(97, 84, 66);
  box-shadow: -18px -11px 180px 44px rgba(0,0,0,0.85);
  -webkit-box-shadow: -18px -11px 180px 44px rgba(0,0,0,0.85);
  -moz-box-shadow: -18px -11px 180px 44px rgba(0,0,0,0.85);
}

.detail_titulo {
  font-family: "Comic Sans MS", cursive, sans-serif;
  letter-spacing: 2px;
  
  text-shadow: 14px 5px 10px rgba(0,0,0,1);
}

.hs {
  font-weight: 700;
  letter-spacing: 1px;
}

.resumen {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

span {
  font-weight: 600;
}



button {
  border-radius: 10px;
  padding: 3px 30px;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
  transition: 0.5s all;
}